apiVersion: apps/v1
kind: Deployment


metadata:
  name: app-service-api
  namespace: desafio-api

spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  replicas: 1
  selector:
    matchLabels:
      app: app-service-api
  template:
    metadata:
      labels:
        app: app-service-api
    spec:
      containers:
        - name: api-container
          image: api-kube:v4
          imagePullPolicy: IfNotPresent 
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: app-config-map-api
            - secretRef:
                name: app-api-secrets
          readinessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 40
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 60
          resources:
            requests:
              cpu: 90m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi