apiVersion: apps/v1
kind: Deployment


metadata:
  name: app-service-api


spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-service-api
  template:
    metadata:
      labels:
        app: app-service-api
    spec:
      containers:
        - name: api-container
          image: minha-api:v1 
          imagePullPolicy: IfNotPresent 
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 15
          resources:
            requests:
              cpu: 90m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi