apiVersion: autoscaling/v2 
kind: HorizontalPodAutoscaler

metadata:
  name: app-api-hpa

spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: app-service-api
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65 
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30
      policies:
      - type: Pods
        value: 2 
        periodSeconds: 15
    scaleUp:
      stabilizationWindowSeconds: 5
      policies: 
        - type: Pods
          value: 2
          periodSeconds: 4
