apiVersion: v1
kind: PersistentVolume

metadata:
  name: db-pv
  labels:
    name: db-pv

spec:
  storageClassName: manual
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: /mnt/data