apiVersion: v1
kind: PersistentVolume

metadata:
  name: db-pv
  labes:
    name: db-pv

spec:
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: standard
  hostPath:
    path: /mnt/data