apiVersion: v1
kind: PersistentVolumeClaim

metadata:
  name: db-pvc
  namespace: desafio-db

spec:
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
